<?php
/*  * Copyright (c) 2022 ณวสันต์ วิศิษฏ์ศิงขร
    *
    * This source code is licensed under the MIT license found in the
    * LICENSE file in the root directory of this source tree.
*/

/*  * Control version 0.1.4 
    * Github : https://github.com/Arikato111/control
*/

/*  ! What's new !
    * v1.0.5
     - Change display when check packages list.
    ! What's new !
    * v1.0.4
     - Two or more packages can be deleted at one time..
     - change report when install template.
     - remove input license when init project.

    * v1.0.3
     - run scripts command in package.json

*/

define('CONTROL_VERSION', '0.1.5');
define('baseUrl', 'https://package.anytion.com/install/');
define('CONFIRM_INSTALL', false);

ini_set('user_agent', '3lcieh2dfbon3032a');

$GLOBALS['command'] = [];
$GLOBALS['option'] = [];

/*********** Command & Option ***************/
for ($i = 1; $i < count($argv); $i++) {
    $input = $argv[$i];
    if (str_split($argv[$i])[0] == '-') {
        array_push($GLOBALS['option'], $argv[$i]);
    } else {
        array_push($GLOBALS['command'], $argv[$i]);
    }
}
/*******************************************/


if (isset($GLOBALS['command'][0])) {
    switch ($GLOBALS['command'][0]) {
        case 'list':
            ShowListPackage();
            break;
        case 'serve':
            runServer();
            break;
        case 'install':
        case 'i':
            installPackage($argv);
            break;
        case 'url':
            urlInstall();
            break;
        case 'create':
            createTemplate($argv);
            break;
        case 'rm':
        case 'remove':
            readyToRemoveModule($argv);
            break;
        case 'init':
            setInit($argv);
            break;
        case 'spa':
            setSPA();
            break;
        case '-v':
        case '--version':
            echo CONTROL_VERSION . PHP_EOL;
            break;
        case 'update':
            update();
            break;
        case 'help':
        case '-h':
        case '--help':
            Help();
            break;
        default:
            if (file_exists('./package.json')) {
                $package = getPackage();
                if (isset($package->scripts) && isset($package->scripts->{$argv[1]})) {
                    system($package->scripts->{$argv[1]}, $output);
                    die;
                }
            }
            echo 'command not found';
    }
} else {
    Help();
}

function ShowListPackage()
{
    $package = getPackage();
    $data = $package->package;
    $count = count(array_keys(get_object_vars($data)));
    print($package->name . "@" . ($package->version ?? "") . " " . __DIR__);
    print("\n");
    foreach ($data as $key => $pk) {
        if ($count != 1)
            echo "├─── {$key} @{$pk->version}\n";
        else echo "└─── {$key} @{$pk->version}\n";
        $count--;
    }
    print("\n");
}

function urlInstall()
{
    if (!isset($GLOBALS['command'][1]) || !isset($GLOBALS['command'][2])) {
        echo "# control url install <github-branch-url>  | for install library\n";
        echo "# control url create <github-branch-url>  | for install template\n";
        return;
    }
    $url = $GLOBALS['command'][2];
    if (
        str_contains($url, 'https://github.com/') &&
        str_contains($url, '/tree/')
    ) {
        $name = explode('/', $url)[4];
        echo "installing  $url\n";

        ini_set('user_agent', '3lcieh2dfbon3032a');

        switch ($GLOBALS['command'][1]) {
            case 'i':
            case 'install':
                addModule($url, $name);
                break;
            case 'create':
                addTemplate($url);
                break;
            default:
                echo "# control url install <github-branch-url>  | for install library\n";
                echo "# control url create <github-branch-url>  | for install template\n";
        }
    } else {
        echo "ERROR url\n";
        echo "# control url install <github-branch-url>  | for install library\n";
        echo "# control url create <github-branch-url>  | for install template\n";
    }
}

function installPackage()
{
    if (!isset($GLOBALS['command'][1])) {
        // install all package from package.json
        $package = getPackage();
        if (!(key($package->package) ?? false)) {
            echo "no any package to install\n";
            return;
        }
        foreach ($package->package as $key => $pk) {
            addModule($pk->url, $key, $pk->version, true, false);
        }
        exit;
    }

    $package_list = [];

    for ($i = 1; isset($GLOBALS['command'][$i]); $i++) {
        $errorReport = " - !! Error not found: ";

        // check is main package or not with @
        if (strpos($GLOBALS['command'][$i], '@') !== false) {
            // if it's not main package split command
            // package-name@version     
            [$module_name, $version] = explode('@', $GLOBALS['command'][$i], 2);
            // get github repository from server
            $url = file_get_contents(baseUrl . 'module/' . $module_name . '/' . $version);

            # check found package
            if (!($url ?? false)) {
                // if url from server is emty It mean server has no this package
                echo $errorReport . $GLOBALS['command'][$i] . PHP_EOL;
                die;
            }

            array_push($package_list, [
                // add package detail to object from package.json
                'name' => $module_name,
                'version' => $version,
                'url' => $url
            ]);
        } else {
            // if it's main version ( without '@' in command)
            // get github repository from server
            $url = file_get_contents(baseUrl . 'module/' . $GLOBALS['command'][$i]);

            if (!($url ?? false)) {
                // if url emty it mean server has no this package
                echo $errorReport . $GLOBALS['command'][$i] . PHP_EOL;
                die;
            }

            array_push($package_list, [
                // add package detail to object from package.json
                'name' => $GLOBALS['command'][$i],
                'version' => 'main',
                'url' => $url
            ]);
        }
    }
    echo "this is library will installing \n";
    // report repositories detail before installing
    foreach ($package_list as $pkl) {
        echo '  - ' . $pkl['name'] . '@' . $pkl['version'] . "  url - " . $pkl['url'] . PHP_EOL;
    }
    echo "\n";
    // confirm before installing 
    // can turn off with constant variable 
    if (CONFIRM_INSTALL) {
        echo "\nAre you sure to install all? ( [Enter] to install, [ctrl + c] to cancel )\n";
        readline();
    }
    foreach ($package_list as $pkl) {
        addModule($pkl['url'], $pkl['name'], $pkl['version'], false, false);
    }
}

function createTemplate($argv)
{

    if (!isset($argv[2])) {
        echo '  # control create <template>' . PHP_EOL;
        echo '  or' . PHP_EOL;
        echo '  # control create <template@version>' . PHP_EOL;
        return;
    }

    if (strpos($argv[2], '@') !== false) {
        [$template_name, $template_version] = explode('@', $argv[2], 2);
        $url = @file_get_contents(baseUrl . 'template/' . $template_name . '/' . $template_version);
    } else {
        $url = @file_get_contents(baseUrl . 'template/' . $argv[2]);
    }

    if (empty($url)) {
        echo "- !! Error not found template: " . $argv[2] . " \n";
        exit;
    }

    addTemplate($url);
}

function deleteAllInDir(string $dir): void
{
    $getDir = glob($dir);
    if (!empty($getDir)) {
        foreach ($getDir as $file) {
            if (!is_dir($file)) {
                unlink($file);
            } else {
                deleteAllInDir("$file/*");
                rmdir($file);
            }
        }
    }
}

function readyToRemoveModule($argv)
{
    for ($i = 2; isset($argv[$i]); $i++) {
        removeModule($argv[$i]);
    }
}

function removeModule($module_name)
{
    $package = getPackage();
    if (!isset($package->package->{$module_name})) {
        echo "- !! can not remove: `{$module_name}` not installed" . PHP_EOL;
        return;
    }
    unset($package->package->{$module_name});
    savePackage($package);

    $dir = './modules/' . $module_name;

    deleteAllInDir($dir);
    @rmdir($dir);
    echo "remove {$module_name} successfuly\n";
}

function getPackage()
{
    if (!file_exists('./package.json')) {
        echo "Not found package.json\n";
        echo "# control init | to create package.json\n";
        exit;
    }
    $package = json_decode(file_get_contents('./package.json'));
    if (!isset($package->package)) $package->package = (object)[];
    return $package;
}

function savePackage($package)
{
    $package_json = json_encode($package, JSON_PRETTY_PRINT);
    $package_json = str_replace('\/', '/', $package_json);
    file_put_contents('./package.json', $package_json);
}

/************** Manage *********************** */

function addTemplate($url)
{

    echo "installing template from github url : '$url'\n";
    if (CONFIRM_INSTALL) {
        echo "Do you want to install? ( [Enter] to install, [ctrl + c] to cancel )\n";
        readline(": ");
    }

    $url = str_replace('https://github.com/', 'https://api.github.com/repos/', $url);
    $url = str_replace('tree', 'git/trees', $url);

    $json =  @file_get_contents("$url?recursive=1");
    if ($json == false) {
        echo "Error installing failed\n";
        return;
    }
    $jo = json_decode($json);

    $tree = $jo->tree;
    $url = str_replace('git/trees/', '/', $url);
    $url = str_replace('https://api.github.com/repos', 'https://raw.githubusercontent.com', $url);
    foreach ($tree as $value) {
        if ($value->mode == "100644") {
            echo "Downloading file: {$value->path}\n";
            $file = file_get_contents("$url/" . $value->path);
            echo "installing file: -> {$value->path}\n";
            @file_put_contents($value->path, $file);
        } else if ($value->mode == "040000") {
            echo "create directory {$value->path}\n";
            mkdir($value->path);
        } else {
            echo "ERROR!! Not know mode";
        }
    }

    // change project name in package.json after installing template
    $ex = strpos(__DIR__, '/') === false ? '\\' : '/';
    $project_name = explode($ex, __DIR__);
    $project_name = $project_name[sizeof($project_name) - 1];
    $project_name = str_replace('.', '', $project_name);
    $package = getPackage();
    $package->name = $project_name;
    savePackage($package);

    echo "install successfuly\n";
}

function addModule($url, $moduleName, $version = 'main', $has_modules = false, $asking = true)
{
    if (empty($url)) {
        echo "ERROR ! URL EMTY\n";
        exit;
    }
    $package = getPackage();
    $module = [];
    $module['version'] = $version;
    $module['url'] = $url;

    if ($asking) {
        echo "installing $moduleName from github url : '$url'\n";
        echo "Do you want to install? ( [Enter] to install, [ctrl + c] to cancel )\n";
        readline(": ");
    }

    $url = str_replace('https://github.com/', 'https://api.github.com/repos/', $url);
    $url = str_replace('tree', 'git/trees', $url);

    if (!file_exists('./modules')) mkdir('./modules');
    $json =  @file_get_contents("$url?recursive=1");
    if ($json == false) {
        echo "Error installing failed\n";
        return;
    }
    $jo = json_decode($json);
    if (!file_exists('./modules/' . $moduleName))
        mkdir('./modules/' . $moduleName);
    $tree = $jo->tree;
    $url = str_replace('git/trees/', '/', $url);
    $url = str_replace('https://api.github.com/repos', 'https://raw.githubusercontent.com', $url);
    foreach ($tree as $value) {
        if ($value->mode == "100644") {
            echo "- Downloading file: {$value->path}\n";
            $file = file_get_contents("$url/" . $value->path);
            echo "installing file: -> $moduleName/{$value->path}\n";
            @file_put_contents("modules/$moduleName/" . $value->path, $file);
        } else if ($value->mode == "040000") {
            if (file_exists("modules/$moduleName/" . $value->path)) continue;
            echo "create directory ./modules/$moduleName/{$value->path}\n";
            mkdir("modules/$moduleName/" . $value->path);
        } else {
            echo "Not know mode";
            exit;
        }
    }
    if (!$has_modules) {

        $pj_name = $moduleName;
        $package->package->$pj_name = $module;

        savePackage($package);
    }
    echo "\ninstalled {$moduleName} successfully\n\n";
}

/************** Manage *********************** */

function update()
{
    ini_set('user_agent', '3lcieh2dfbon3032a');
    file_put_contents('control', @file_get_contents('https://raw.githubusercontent.com/Arikato111/control/master/control'));
}

// *********** init ************************** //
function setInit($argv)
{
    $ex = strpos(__DIR__, '/') === false ? '\\' : '/';
    $project_name = explode($ex, __DIR__);
    $project_name = $project_name[sizeof($project_name) - 1];
    if (isset($argv[2]) && $argv[2] == '-y') {
        $json_format =
            '{
    "name": "' . $project_name . '",
    "version": "1.0.0",
    "description": "",
    "author": "",
    "package": {}
}';
        file_put_contents('./package.json', $json_format);
    } else {
        $project = [];

        echo "project name : ($project_name) ";
        $project['name'] = readline();
        if (empty($project['name'])) $project['name'] = $project_name;

        echo "version : (1.0.0) ";
        $project['version'] = readline();
        if (empty($project['version'])) $project['version'] = '1.0.0';

        echo 'description : ';
        $project['description'] = readline();

        echo 'author : ';
        $project['author'] = readline();

        $project['package'] = (object)[];
        $project_json = json_encode($project, JSON_PRETTY_PRINT);
        echo $project_json;
        echo PHP_EOL;
        echo 'Is it Okay ? ( [Enter] to Yes, [ctrl + c] to cancel )';
        readline();
        file_put_contents('./package.json', $project_json);
    }
    echo 'Create package.json is successfuly';
    echo PHP_EOL;
}

/********************************************* */
function runServer()
{
    $port = 3000;
    if (in_array("-p", $GLOBALS['option']) || in_array("--port", $GLOBALS['option'])) {
        if ($GLOBALS['command'][1] ?? false) {
            $port = (int) $GLOBALS['command'][1];
        } else {
            echo 'Please insert port number' . PHP_EOL;
            echo "  # control serve --port <port>\n";
            exit;
        }
    }
    $limit_try = 10;
    while ($limit_try) {
        @exec("php -S localhost:{$port}");
        $port++;
        $limit_try--;
    }
}

function setSPA()
{
    file_put_contents(
        '.htaccess',
        '<IfModule mod_rewrite.c>

    RewriteEngine On
    RewriteBase /
    RewriteRule ^index\.php$ - [L]
    RewriteCond %{REQUEST_URI} !^/public [OR]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule . /index.php [L]
  
  </IfModule>'
    );
    mkdir('./public');
}


function Help()
{
    echo "\n";
    echo "--- CONTROL " . CONTROL_VERSION . " ---\n";
    echo '  # control -v | to check vertion of `control`' . PHP_EOL;
    echo "\n--- Project ---\n";
    echo '  # control init | to set project and create package.json ' . PHP_EOL;
    echo '  # control spa | to set project as spa' . PHP_EOL;
    echo '  # control update | for update control ' . PHP_EOL;
    echo '  # control serve | to run server at localhost [not recommended]' . PHP_EOL . PHP_EOL;

    echo "\n--- package manage ---\n";
    echo '  # control list | to show library list' . PHP_EOL;
    echo '  # control install | to install all library from package.json ' . PHP_EOL;
    echo '  # control install <library> | to install library' . PHP_EOL;
    echo '  # control install <library>@<version> | to install library with version' . PHP_EOL;
    echo '  # control create <template> | to install template' . PHP_EOL;
    echo '  # control create <template@version> | to install template with version' . PHP_EOL;
    echo '  # control remove <library> | to remove library' . PHP_EOL . PHP_EOL;

    echo "\n--- package from url ---\n";
    echo "  # control url install <github-branch-url>  | for install library with github branch url\n";
    echo "  # control url create <github-branch-url>  | for install template with github branch url \n";

    echo "\n--- run scripts ---\n";
    echo "  # control <script>  | for run scripts command in package.json\n";

    echo "\n--- Github ---\n";
    echo "  Github url | https://github.com/Arikato111/control\n";
}
