<?php
define('baseUrl', 'https://package.anytion.com/install/');

if (isset($argv[1])) {
    switch ($argv[1]) {
        case 'list':
            ShowListPackage();
            break;
        case 'install':
        case 'i':
            installPackage($argv);
            break;
        case 'url':
            urlInstall($argv);
            break;
        case 'create':
            createTemplate($argv);
            break;
        case 'rm':
        case 'remove':
            removeModule($argv);
            break;
        case 'init':
            setSPA();
            break;
        case 'update':
            update();
            break;
        case 'help':
            Help();
            break;
        default:
            echo 'command not found';
    }
} else {
    Help();
}

function ShowListPackage()
{
    $data = glob('./modules/*');
    foreach ($data as $pk_name) {
        $only_name = explode('/', $pk_name);
        echo '-@ ' . $only_name[sizeof($only_name) - 1] . PHP_EOL;
    }
}

function urlInstall($argv)
{
    if (!isset($argv[2]) || !isset($argv[3])) {
        echo "# control url <install> <github-branch-url>  | for install module\n";
        echo "# control url <create> <github-branch-url>  | for install template\n";
        return;
    }
    $url = $argv[3];
    if (
        str_contains($url, 'https://github.com/') &&
        str_contains($url, '/tree/')
    ) {
        $name = explode('/', $url)[4];
        echo "installing  $url\n";

        ini_set('user_agent', '3lcieh2dfbon3032a');

        switch ($argv[2]) {
            case 'i':
            case 'install':
                addModule($url, $name);
                break;
            case 'create':
                addTemplate($url);
                break;
            default:
                echo "# control url <install> <github-branch-url>  | for install module\n";
                echo "# control url <create> <github-branch-url>  | for install template\n";
        }
    } else {
        echo "ERROR url\n";
        echo "# control url <install> <github-branch-url>  | for install module\n";
        echo "# control url <create> <github-branch-url>  | for install template\n";
    }
}

function installPackage($argv)
{
    ini_set('user_agent', '3lcieh2dfbon3032a');

    if (!isset($argv[2])) {
        echo '# control install <package>';
        return;
    }
    if (isset($argv[3])) {
        $url = file_get_contents(baseUrl . 'module/' . $argv[2] . '/' . $argv[3]);
    } else {
        $url = file_get_contents(baseUrl . 'module/' . $argv[2]);
    }

    addModule($url, $argv[2]);
}

function createTemplate($argv)
{
    ini_set('user_agent', '3lcieh2dfbon3032a');

    if (!isset($argv[2])) {
        echo '# control create <package>';
        return;
    }
    if (isset($argv[3])) {
        $url = @file_get_contents(baseUrl . 'template/' . $argv[2] . '/' . $argv[3]);
    } else {
        $url = @file_get_contents(baseUrl . 'template/' . $argv[2]);
    }

    addTemplate($url);
}

function removeModule($argv)
{
    $dir = './modules/' . $argv[2];
    function allInDir(string $dir): void
    {
        $getDir = glob($dir);
        if (!empty($getDir)) {
            foreach ($getDir as $file) {
                if (!is_dir($file)) {
                    unlink($file);
                } else {
                    allInDir("$file/*");
                    rmdir($file);
                }
            }
        }
    }
    allInDir($dir);
    @rmdir($dir);
    echo "successfuly\n";
}

function addTemplate($url)
{
    echo "installing template from github url : '$url'\n";
    echo "Do you want to install? ( [Enter] to install, [ctrl + c] to cancel )\n";
    readline(": ");

    $url = str_replace('https://github.com/', 'https://api.github.com/repos/', $url);
    $url = str_replace('tree', 'git/trees', $url);

    $json =  @file_get_contents("$url?recursive=1");
    if ($json == false) {
        echo "Error installing failed\n";
        return;
    }
    $jo = json_decode($json);

    $tree = $jo->tree;
    $url = str_replace('git/trees/', '/', $url);
    $url = str_replace('https://api.github.com/repos', 'https://raw.githubusercontent.com', $url);
    foreach ($tree as $value) {
        if ($value->mode == "100644") {
            echo "Downloading file from $url/{$value->path}\n";
            $file = file_get_contents("$url/" . $value->path);
            echo "installing file {$value->path}\n";
            @file_put_contents($value->path, $file);
        } else if ($value->mode == "040000") {
            echo "create directory {$value->path}\n";
            mkdir($value->path);
        } else {
            echo "ERROR!! Not know mode";
        }
    }
    unlink('README.md');
    echo "install successfuly\n";
}

function addModule($url, $moduleName)
{
    echo "installing $moduleName from github url : '$url'\n";
    echo "Do you want to install? ( [Enter] to install, [ctrl + c] to cancel )\n";
    readline(": ");

    $url = str_replace('https://github.com/', 'https://api.github.com/repos/', $url);
    $url = str_replace('tree', 'git/trees', $url);

    if (!file_exists('./modules')) mkdir('./modules');
    $json =  @file_get_contents("$url?recursive=1");
    if ($json == false) {
        echo "Error installing failed\n";
        return;
    }
    $jo = json_decode($json);
    mkdir('./modules/' . $moduleName);
    $tree = $jo->tree;
    $url = str_replace('git/trees/', '/', $url);
    $url = str_replace('https://api.github.com/repos', 'https://raw.githubusercontent.com', $url);
    foreach ($tree as $value) {
        if ($value->mode == "100644") {
            echo "Downloading file from $url/{$value->path}\n";
            $file = file_get_contents("$url/" . $value->path);
            echo "installing file ./modules/$moduleName/{$value->path}\n";
            @file_put_contents("modules/$moduleName/" . $value->path, $file);
        } else if ($value->mode == "040000") {
            echo "create directory ./modules/$moduleName/{$value->path}\n";
            mkdir("modules/$moduleName/" . $value->path);
        } else {
            echo "Not know mode";
            exit;
        }
    }
    echo "installed successfully" . PHP_EOL;
}

function setSPA()
{
    file_put_contents(
        '.htaccess',
        '<IfModule mod_rewrite.c>

    RewriteEngine On
    RewriteBase /
    RewriteRule ^index\.php$ - [L]
    RewriteCond %{REQUEST_URI} !^/public [OR]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule . /index.php [L]
  
  </IfModule>'
    );
    mkdir('./public');
}
function update()
{
    ini_set('user_agent', '3lcieh2dfbon3032a');
    file_put_contents('control', @file_get_contents('https://raw.githubusercontent.com/Arikato111/control/master/control'));
}

function Help()
{
    echo '# control list | to show modules list' . PHP_EOL;
    echo '# control install <module> | to install modules' . PHP_EOL;
    echo '# control install <module> <version> | to install modules with version' . PHP_EOL;
    echo '# control create <template> | to install template' . PHP_EOL;
    echo '# control create <template> <version> | to install template with version' . PHP_EOL;
    echo '# control remove <module> | to remove module' . PHP_EOL;
    echo '# control init | to set file for spa ' . PHP_EOL;
    echo '# control update | for update control ' . PHP_EOL . PHP_EOL;

    echo "# control url <install> <github-branch-url>  | for install module with github branch url\n";
    echo "# control url <create> <github-branch-url>  | for install template with github branch url \n";
}
